.add-avatar-btn {
    width: 150px;
    height: 150px;
    background-color: #a0a0a0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin: 20px 0 20px 50px;
}

.add-avatar-btn:hover {
    background-color: #8a8a8a;
}

.add-avatar-icon {
    font-size: 32px;
    color: #000;
}
