.nav_buttons {
  display: inline-block;
  margin: auto;
}

.gallery_button {
  display: inline-block;
  padding: 12px;
  background-color: #9559E5;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  text-decoration: none;
}

.gallery_button:hover {
  background-color: #7444b3;
}

img {
  /*all button images*/
  width: 50px;
  height: 50px;
}



.right_img {
  background-color: transparent;
  border-color: transparent;
  padding-left: 40px;
  padding-bottom: 20px;
}

.right_img:hover {
  filter: brightness(0.5);
}


.left_img {
  transform: scaleX(-1);
  padding-left: 40px;
  padding-bottom: 20px;
}

.left_img:hover {
  filter: brightness(0.5);
}


/* resize buttons */

.plus_btn {
  background-color: transparent;
  border-color: transparent;
  padding-bottom: 10px;
  width: 60px;
  height: 60px;
}
.minus_btn {
  background-color: transparent;
  border-color: transparent;
  padding-top: 10px;
  width: 60px;
  height: 60px;
}

.plus_btn:hover {
  filter: brightness(0.8);
}

.minus_btn:hover {
  filter: brightness(0.8);
}

/* spacing out navigation buttons and resize buttons */
.all_buttons {
  display: flex;
  justify-content: space-between;
}

.resize_buttons {
  display: grid;
  align-items: center;
  position: absolute;
  right: 35px;
  bottom: 15px;
}